<article>
  <header class="cover category">
    <%= partial "partials/nav" %>
    <div class="container">
      <span class="category" >Articles archive</span>
      <h1>Article tagged “<%= tagname %>”</h1>

    </div>
  </header>
</article>

<div class="container">
  <section class="article-grid three-col">
    <ul class="related-articles">
      <% page_articles.each_with_index do |article, i| %>
        <li>
          <a href="<%= article.url %>" class="related-article">
            <article>
              <span class="category"><%= article.date.strftime('%A, %e %B  %Y')%></span>
              <h1><%= article.title %></h1>
              <p><%= article.data.standfirst %></p> 
            </article>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
</div>

